.about-section {
}

.about-bg-wrapper {
  padding-top: 60px;
  padding-bottom: 40px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.about-container {
}

.about-title-wrapper {
  @include media(desktop) {
  }
}

.about-title {
  @include media(desktop) {
  }
}

.about-top-wrapper {
  margin-bottom: 40px;

  @include media(desktop) {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
  }
}

.about-top-text-wrapper {
  margin-bottom: 24px;

  @include media(desktop) {
    margin-bottom: 0;
  }
}

.about-top-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: #ebebeb;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.about-top-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #ebebeb;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 18px;
  }
}

.about-top-features-text {
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #3df1ad;
  margin-bottom: 8px;

  @include media(desktop) {
    font-size: 18px;
  }
}

.about-top-bottom-features-text {
  margin-bottom: 0;

  @include media(desktop) {
  }
}

.about-top-img {
  @include media(desktop) {
    min-width: 508px;
  }
}

.about-bottom-wrapper {
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}

.about-bottom-text-wrapper {
  margin-bottom: 24px;

  @include media(desktop) {
    max-width: 716px;
    margin-bottom: 0;
  }
}

.about-bottom-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: #3df1ad;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 20px;
  }
}

.about-bottom-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #ebebeb;
  margin-bottom: 20px;

  @include media(desktop) {
    font-size: 18px;
  }
}

.about-bottom-bottom-text {
  margin-bottom: 0;

  @include media(desktop) {
  }
}

.about-bottom-img {
  @include media(desktop) {
    min-width: 508px;
  }
}
