.contact-section {
}

.contact-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 60px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 120px;
    padding-bottom: 80px;
    max-width: 1440px;
  }
}

.contact-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #3df1ad;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 20px;
    max-width: 624px;
    margin-left: auto;
    margin-right: auto;
  }
}

.contact-address-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
  }
}

.contact-link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 11px 20px;
  width: 100%;
  max-width: 343px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #fff;

  @include media(desktop) {
    font-size: 18px;
    max-width: 302px;
  }
}
