.features-section {
}

.features-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 240px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/features/features-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
    background-image: url(../img/features/features-bg-desk.png);
  }
}

.features-container {
}

.features-title-wrapper {
  @include media(desktop) {
  }
}

.features-title {
  @include media(desktop) {
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  @include media(desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: start;
  }
}

.features-list-item {
  width: 100%;
  max-width: 298px;
  border: 2px solid #3df1ad;
  border-radius: 2px;
  padding: 14px;

  @include media(desktop) {
    padding: 14px 14px 0px 14px;
    min-height: 206px;
  }
}

.features-icon {
  margin-bottom: 16px;

  @include media(desktop) {
  }
}

.features-item-title {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #3df1ad;
  margin-bottom: 4px;

  @include media(desktop) {
    font-size: 22px;
  }
}

.features-item-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #ebebeb;

  @include media(desktop) {
    font-size: 18px;
  }
}
