.footer {
  background: #515257;
  padding: 60px 0;

  @include media(desktop) {
  }
}

.footer-container {
}

.footer-nav {
  margin-bottom: 32px;

  @include media(desktop) {
    margin-bottom: 60px;
  }
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
    justify-content: end;
    gap: 60px;
  }
}

.footer-list-item {
}

.footer-link {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  color: #ebebeb;

  @include media(desktop) {
    font-size: 18px;
  }
}

.footer-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: center;
  color: #c5c5c7;

  @include media(desktop) {
    font-size: 18px;
  }
}
