.footer {
  background: #291b5c;
  padding: 48px 0;

  @include media(desktop) {
    padding: 56px 0;
  }
}

.footer-container {
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  &:hover,
  &:focus,
  &:active {
  }

  @include media(desktop) {
  }
}

.footer-nav {
  margin-bottom: 32px;

  @include media(desktop) {
  }
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  @include media(desktop) {
  }
}

.footer-list-item {
}

.footer-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fffef6;

  @include media(desktop) {
    font-size: 16px;
  }
}

.footer-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #fffef6;
  text-align: center;

  @include media(desktop) {
    font-size: 16px;
  }
}
