.header {
  background: #291b5c;
  padding: 12px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
    padding: 8px 0;
  }
}

.header-container {
  padding: 0 24px;

  @include media(desktop) {
    padding: 0 80px;
  }
}

.nav {
  display: flex;
  justify-content: end;
  align-items: center;

  @include media(desktop) {
    justify-content: center;
  }
}

.nav-list {
  display: none;

  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 46px;
    width: 100%;
  }
}

.nav-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: max-content;
}

.nav-list-link {
  @include media(desktop) {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: rgba(255, 254, 246, 0.7);
    width: 100%;
    position: relative;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #fffef6;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.3s ease-in-out;
    }

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: #fffef6;
      text-shadow: 0 0 0 currentColor;

      &::after {
        transform: scaleX(1);
      }
    }
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    display: none;
  }
}
