.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 88px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: top 48px center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 112px;
    padding-bottom: 100px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
    background-position: bottom 180px center;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-main-title {
  text-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: 'Luckiest Guy', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.25;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(
    180deg,
    #fffef6 0%,
    #ffe14c 19.07%,
    #ffe14c 85.19%,
    #fffef6 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 378px;

  @include media(desktop) {
    font-size: 40px;
    line-height: 1.4;
    margin-bottom: 498px;
  }
}

.hero-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.76471;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fffef6;
  max-width: 303px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;

  @include media(desktop) {
    font-size: 24px;
    line-height: 1.25;
    max-width: max-content;
    margin-bottom: 48px;
  }
}

.hero-btn {
  box-shadow: 0 2px 4px rgba(255, 254, 246, 0.2),
    inset 0 4px 16px 2px rgba(1, 6, 60, 0.4);
  background: #ffe16d;
  border: 1px solid rgba(41, 27, 92, 0.6);
  border-radius: 8px;
  padding: 17px;
  width: 100%;
  max-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Luckiest Guy', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #291b5c;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    border-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 2px 4px 4px rgba(255, 254, 246, 0.2);
    background: #291b5c;
    border-color: rgba(255, 225, 109, 0.6);
    color: #ffe16d;
  }

  @include media(desktop) {
  }
}
