.hero-section {
  @include media(desktop) {
  }
}

.hero-bg-wrapper {
  padding-top: 292px;
  padding-bottom: 32px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/hero/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 257px;
    padding-bottom: 195px;
    max-width: 1440px;
    background-image: url(../img/hero/hero-bg-desk.jpg);
    background-position: bottom center;
  }
}

.hero-container {
  @include media(desktop) {
  }
}

.hero-content-wrapper {
  @include media(desktop) {
    width: 100%;
    max-width: 645px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
}

.hero-subtitle {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  text-align: right;
  color: #17181f;
  max-width: 234px;
  margin-left: auto;
  margin-bottom: 10px;

  @include media(desktop) {
    font-size: 20px;
    text-align: center;
    max-width: max-content;
    margin-right: auto;
  }
}

.hero-main-title {
  text-shadow: 8px 8px 16px rgba(255, 255, 255, 0.16);
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ebebeb;
  text-align: right;
  margin-bottom: 10px;

  @include media(desktop) {
    font-size: 142px;
    margin-bottom: 16px;
    text-align: center;
  }
}

.hero-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  text-align: right;
  color: #17181f;
  max-width: 229px;
  margin-left: auto;
  margin-bottom: 247px;

  @include media(desktop) {
    font-size: 18px;
    text-align: center;
    max-width: 332px;
    margin-right: auto;
    margin-bottom: 32px;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #17181f;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 13px 31px;
  width: 100%;
  max-width: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  transition: background 0.3s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    background: #515257;
  }

  @include media(desktop) {
    max-width: 240px;
  }
}

.hero-btn-text-wrapper {
  @include media(desktop) {
  }
}

.her-btn-top-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #ebebeb;
  margin-bottom: 4px;

  @include media(desktop) {
  }
}

.her-btn-bottom-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #ebebeb;

  @include media(desktop) {
  }
}
