.map-section {
}

.map-title {
  max-width: 233px;

  @include media(desktop) {
    max-width: max-content;
  }
}

.map-bg-wrapper {
  padding-top: 24px;
  padding-bottom: 300px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/map/map-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 901px;
    max-width: 1440px;
    background-image: url(../img/map/map-bg-desk.jpg);
  }
}

.map-container {
}

.map-subtitle {
  color: #fffdfd;
  max-width: 303px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: max-content;
  }
}

.map-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  margin-bottom: 32px;

  @include media(desktop) {
    flex-direction: row;
    gap: 24px;
    margin-bottom: 48px;
  }
}

.map-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 311px;
  min-height: 90px;
  background-image: url(../img/map/figure-mob.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;

  @include media(desktop) {
    max-width: 400px;
    min-height: 96px;
    background-image: url(../img/map/figure-desk.png);
  }
}

.map-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #fffef6;
  max-width: 247px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 16px;
    max-width: 272px;
  }
}

.map-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fffef6;

  @include media(desktop) {
  }
}
