.play-section {
  background: linear-gradient(180deg, #291b5c 26.85%, #573eb1 100%);
}

.play-title {
  max-width: 175px;

  @include media(desktop) {
    max-width: max-content;
  }
}

.play-bg-wrapper {
  padding-top: 24px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 48px;
    padding-bottom: 56px;
    max-width: 1440px;
  }
}

.play-container {
}

.play-subtitle {
  color: #fffdfd;
  max-width: 323px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: max-content;
  }
}

.play-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 24px;

  @include media(desktop) {
    flex-direction: row;
    gap: 24px;
    margin-bottom: 46px;
  }
}

.play-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 311px;
  min-height: 100px;
  background-image: url(../img/map/figure-mob.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;

  @include media(desktop) {
    max-width: 400px;
    min-height: 100px;
    background-image: url(../img/map/figure-desk.png);
  }
}

.play-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fffef6;
  max-width: 263px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 16px;
    max-width: 272px;
  }
}

.play-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fffef6;
  max-width: 323px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: max-content;
  }
}
