.policy-section {
  background: #222;
  padding-top: 112px;
  padding-bottom: 60px;

  @include media(desktop) {
    padding-top: 182px;
    padding-bottom: 120px;
  }
}

.policy-main-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  color: #ebebeb;
  margin-bottom: 40px;

  @include media(desktop) {
    font-size: 42px;
  }
}

.policy-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #ebebeb;
  margin-bottom: 16px;

  @include media(desktop) {
    font-size: 18px;
  }
}

.policy-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ebebeb;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 18px;
  }
}

.policy-list {
  list-style-type: disc;
  padding-left: 20px;
}

.policy-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #ebebeb;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 16px;
  }

  @include media(desktop) {
    font-size: 18px;
  }
}

.policy-span {
  text-decoration: underline;
}

.policy-link {
  text-decoration: underline;
  word-wrap: break-word;
}
