.privacy-header {
  background: #291b5c;
  padding-top: 12px;
  padding-bottom: 12px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  @include media(desktop) {
  }
}

.privacy-header-link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fffef6;
  max-width: max-content;

  @include media(desktop) {
  }
}

.arrow-back-icon {
}
