.reviews-section {
  background: linear-gradient(180deg, #291b5c 26.85%, #573eb1 100%);
}

.reviews-title {
  @include media(desktop) {
  }
}

.reviews-bg-wrapper {
  padding-top: 24px;
  padding-bottom: 48px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    padding-top: 32px;
    padding-bottom: 56px;
    max-width: 1440px;
  }
}

.reviews-container {
}

.reviews-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;

  @include media(desktop) {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
  }
}

.reviews-top-wrapper {
  width: 100%;

  @include media(desktop) {
    min-width: 416px;
  }
}

.reviews-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 12px;

  @include media(desktop) {
    justify-content: start;
  }
}

.reviews-rating-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fffef6;

  @include media(desktop) {
  }
}

.reviews-stars-img {
  @include media(desktop) {
  }
}

.reviews-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fffef6;
  margin-bottom: 24px;

  @include media(desktop) {
    text-align: left;
  }
}

.reviews-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;

  @include media(desktop) {
  }
}

.reviews-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 36px;
  gap: 4px;
  width: 100%;
  max-width: 335px;
  min-height: 110px;
  background-image: url(../img/reviews/reviews-figure-mob.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;

  @include media(desktop) {
    padding: 0 48px;
    max-width: 416px;
    min-height: 110px;
    background-image: url(../img/reviews/reviews-figure-desk.png);
  }
}

.reviews-item-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fffef6;
  max-width: 239px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 320px;
  }
}

.reviews-item-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-align: right;
  color: #ffe16d;

  @include media(desktop) {
  }
}

.reviews-img {
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    margin: 0;
  }
}
