.screenshots-section {
  @include media(desktop) {
  }
}

.screenshots-bg-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background-image: url(../img/screenshots/screenshots-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;

  @include media(desktop) {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 1440px;
    background-image: url(../img/screenshots/screenshots-bg-desk.jpg);
  }
}

.screenshots-container {
}

.screenshots-title {
}

.screenshots-swiper-container {
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    max-width: 1264px;
    overflow: hidden;
  }
}

.screenshots-swiper-container.show {
  visibility: visible;
}

.screenshots-swiper-wrapper {
  @include media(desktop) {
  }
}

.screenshots-slide {
  max-width: 343px;

  @include media(desktop) {
    max-width: 616px;
  }
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-top: 24px;

  @include media(desktop) {
    justify-content: center;
    gap: 80px;
    margin-top: 40px;
  }
}

.arrow-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;

  &:active {
    transform: scale(0.9);
  }

  @include media(desktop) {
    &:hover {
      transform: scale(1.1);

      .arrow-icon {
      }
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.5;

    .arrow-icon {
      fill: #c5c5c7;
    }

    &:hover {
      transform: none;
    }
  }
}

.arrow-icon {
  fill: #fbbc23;
  transition: fill 0.3 ease-in-out;
}
