<section class="section about-section" id="about">
  <div class="section-title-wrapper about-title-wrapper">
    <div class="container section-title-container">
      <picture>
        <source
          srcset="./img/about/left-line-desk.png"
          media="(min-width: 1440px)"
          width="155"
          height="18" />
        <source srcset="./img/about/left-line-mob.png" width="62" height="18" />
        <img
          class="title-line-img"
          src="./img/about/left-line-mob.png"
          alt="Line"
          width="62"
          height="18"
      /></picture>
      <h2 class="section-title about-title">THE STORY BEGINS</h2>
      <picture>
        <source
          srcset="./img/about/right-line-desk.png"
          media="(min-width: 1440px)"
          width="155"
          height="18" />
        <source
          srcset="./img/about/right-line-mob.png"
          width="62"
          height="18" />
        <img
          class="title-line-img"
          src="./img/about/right-line-mob.png"
          alt="Line"
          width="62"
          height="18"
      /></picture>
    </div>
  </div>
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <p class="section-subtitle about-subtitle">
        Royal Adventure is more than a puzzle game — it’s a journey.
      </p>
      <p class="about-text">
        Join King William, Princess Nova, and Butler Nathan as they soar across
        the world in a magnificent hot-air balloon. From lush tropical
        rainforests to frozen tundras, every destination brings new challenges,
        surprises, and stories.
      </p>
      <p class="about-text about-bottom-text">
        Each level you solve pushes the adventure forward. Each journey reveals
        a new chapter of a royally styled tale filled with wonder and discovery.
        Think regular match-3, but with actual reasons to keep playing.
      </p>
    </div>
  </div>
</section>
