<section class="section about-section" id="about">
  <div class="about-bg-wrapper">
    <div class="container about-container">
      <div class="section-title-wrapper about-title-wrapper">
        <span class="section-title-number">1</span>
        <h2 class="section-title about-title">About the Game</h2>
      </div>
      <div class="about-top-wrapper">
        <div class="about-top-text-wrapper">
          <p class="about-top-subtitle">The short, honest version:</p>
          <p class="about-top-text">
            Spy Rider is what happens when off-road dirt racing meets spy
            missions.<br />
            You take a bike, hit rough hill climbs, dodge obstacles, and get
            thrown into quick stealth sequences where one bad move sends you
            back down the slope.
          </p>
          <p class="about-top-features-text">No long cutscenes.</p>
          <p class="about-top-features-text about-top-bottom-features-text">
            No endless tutorials.
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-top-img-mob.png"
            media="(min-width: 1440px)"
            width="508"
            height="286" />
          <source
            srcset="./img/about/about-top-img-mob.png"
            width="343"
            height="193" />
          <img
            class="about-top-img"
            src="./img/about/about-top-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="193"
            loading="lazy"
        /></picture>
      </div>
      <div class="about-bottom-wrapper">
        <div class="about-bottom-text-wrapper">
          <p class="about-bottom-subtitle">
            Just: engine on → track ahead → try not to wipe out.
          </p>
          <p class="about-bottom-text">
            The missions mix fast racing, off-road chaos, and those small “oh
            no” moments when you nearly miss a jump but somehow land it anyway.
            Sometimes you push forward at full throttle.<br />
            Sometimes you slow down, scan the terrain, and pick your line
            carefully — because speed alone won’t save you.
          </p>
          <p class="about-bottom-text about-bottom-bottom-text">
            It’s messy in the good way!
          </p>
        </div>
        <picture>
          <source
            srcset="./img/about/about-bottom-img-mob.png"
            media="(min-width: 1440px)"
            width="508"
            height="286" />
          <source
            srcset="./img/about/about-bottom-img-mob.png"
            width="343"
            height="193" />
          <img
            class="about-bottom-img"
            src="./img/about/about-bottom-img-mob.png"
            alt="Screenshot of the game"
            width="343"
            height="193"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
