<section class="section contact-section" id="contact">
  <div class="contact-bg-wrapper">
    <div class="container contact-container">
      <div class="section-title-wrapper contact-title-wrapper">
        <span class="section-title-number">6</span>
        <h2 class="section-title contact-title">contact</h2>
      </div>
      <p class="contact-subtitle">
        Something broken? Something unfair?<br />
        Tell us — we actually read messages.
      </p>
      <div class="contact-address-wrapper">
        <a class="contact-link" href="mailto:info@progrider.site">
          <svg class="contact-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-email"></use>
          </svg>
          info@progrider.site
        </a>
        <p class="contact-link" href="mailto:info@progrider.site">
          <svg class="contact-icon" width="40" height="40">
            <use href="./img/sprite.svg#icon-mask"></use>
          </svg>
          ProGrider Interactive
        </p>
      </div>
    </div>
  </div>
</section>
