<section class="section download-section" id="download">
  <div class="download-bg-wrapper">
    <div class="container download-container">
      <div class="section-title-wrapper download-title-wrapper">
        <span class="section-title-number">5</span>
        <h2 class="section-title download-title">download</h2>
      </div>
      <div class="download-content-wrapper">
        <p class="download-subtitle">
          Start the engine. Hit the hills. Don’t look back.
        </p>
        <p class="download-text">
          Jump into fast off-road action where every climb, chase, and landing
          counts.
        </p>
        <div class="download-btn-wrapper">
          <a
            class="hero-btn download-google-btn"
            href="https://play.google.com/store/apps/details?id=com.pulsar.stuntmotorcyclespy&hl=en&gl=us"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="playstore-icon" width="30" height="34">
              <use href="./img/sprite.svg#icon-playstore"></use>
            </svg>
            <div class="hero-btn-text-wrapper">
              <p class="her-btn-top-text">GET IT ON</p>
              <p class="her-btn-bottom-text">Google Play</p>
            </div>
          </a>
          <a class="download-apple-btn" href="#home">
            <span class="download-apple-btn-span">App Store — Coming Soon</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
