<section class="section gameplay-section" id="gameplay">
  <div class="section-title-wrapper gameplay-title-wrapper">
    <div class="container section-title-container">
      <picture>
        <source
          srcset="./img/about/left-line-desk.png"
          media="(min-width: 1440px)"
          width="155"
          height="18" />
        <source srcset="./img/about/left-line-mob.png" width="62" height="18" />
        <img
          class="title-line-img"
          src="./img/about/left-line-mob.png"
          alt="Line"
          width="62"
          height="18"
      /></picture>
      <h2 class="section-title gameplay-title">GAMEPLAY WITH A TWIST</h2>
      <picture>
        <source
          srcset="./img/about/right-line-desk.png"
          media="(min-width: 1440px)"
          width="155"
          height="18" />
        <source
          srcset="./img/about/right-line-mob.png"
          width="62"
          height="18" />
        <img
          class="title-line-img"
          src="./img/about/right-line-mob.png"
          alt="Line"
          width="62"
          height="18"
      /></picture>
    </div>
  </div>
  <div class="gameplay-bg-wrapper">
    <div class="container gameplay-container">
      <div class="gameplay-content-wrapper">
        <div class="gameplay-text-wrapper">
          <p class="gameplay-text">
            Royal Adventure takes familiar match-3 mechanics and layers them
            with depth:
          </p>
          <ul class="gameplay-list">
            <li class="gameplay-list-item">
              <img
                class="gameplay-item-img"
                src="./img/gameplay/gameplay-img1-mob.png"
                alt="Feature"
                width="24"
                height="24"
              />
              <p class="gameplay-item-text">Multi-layered puzzle boards</p>
            </li>
            <li class="gameplay-list-item">
              <img
                class="gameplay-item-img"
                src="./img/gameplay/gameplay-img2-mob.png"
                alt="Feature"
                width="24"
                height="24"
              />
              <p class="gameplay-item-text">
                Obstacle-filled challenges that evolve as you play
              </p>
            </li>
            <li class="gameplay-list-item">
              <img
                class="gameplay-item-img"
                src="./img/gameplay/gameplay-img3-mob.png"
                alt="Feature"
                width="24"
                height="24"
              />
              <p class="gameplay-item-text">
                Covering mechanics, rotating elements, and environmental hazards
              </p>
            </li>
          </ul>
        </div>
        <picture>
          <source
            srcset="./img/gameplay/gameplay-img-desk.png"
            media="(min-width: 1440px)"
            width="353"
            height="319" />
          <source
            srcset="./img/gameplay/gameplay-img-mob.png"
            width="340"
            height="319" />
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img-mob.png"
            alt="Screenshot of the game"
            width="340"
            height="319"
            loading="lazy"
        /></picture>
      </div>
    </div>
  </div>
</section>
