<header class="header">
  <div class="container header-container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#home">Home</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#about"
            >The Story Begins</a
          >
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#gameplay">Gameplay</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#tools">Royal Tools</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#map">Journey Maps</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#play">Play Your Way</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#screenshots"
            >Screenshots</a
          >
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#reviews">Reviews</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-link" href="./index.html#faq">FAQ</a>
        </li>
      </ul>
      <button class="nav-btn" type="button" aria-label="Open mobile menu">
        <svg class="menu-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-menu"></use>
        </svg>
      </button>
      <button class="close-btn" type="button" aria-label="Close mobile menu">
        <svg class="close-icon" width="24" height="24">
          <use href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
