<section class="section map-section" id="map">
  <div class="section-title-wrapper map-title-wrapper">
    <div class="container section-title-container">
      <picture>
        <source
          srcset="./img/about/left-line-desk.png"
          media="(min-width: 1440px)"
          width="155"
          height="18" />
        <source srcset="./img/about/left-line-mob.png" width="62" height="18" />
        <img
          class="title-line-img"
          src="./img/about/left-line-mob.png"
          alt="Line"
          width="62"
          height="18"
      /></picture>
      <h2 class="section-title map-title">JOURNEY MAP & GLOBAL EXPLORATION</h2>
      <picture>
        <source
          srcset="./img/about/right-line-desk.png"
          media="(min-width: 1440px)"
          width="155"
          height="18" />
        <source
          srcset="./img/about/right-line-mob.png"
          width="62"
          height="18" />
        <img
          class="title-line-img"
          src="./img/about/right-line-mob.png"
          alt="Line"
          width="62"
          height="18"
      /></picture>
    </div>
  </div>
  <div class="map-bg-wrapper">
    <div class="container map-container">
      <p class="section-subtitle map-subtitle">
        Every 50 levels, the world opens up.
      </p>
      <ul class="map-list">
        <li class="map-list-item">
          <p class="map-item-text">
            Animated journey maps unlock new destinations
          </p>
        </li>
        <li class="map-list-item">
          <p class="map-item-text">
            Story cutscenes bring the adventure to life
          </p>
        </li>
        <li class="map-list-item">
          <p class="map-item-text">
            Each location introduces unique visuals and puzzle themes
          </p>
        </li>
      </ul>
      <p class="map-text">
        You’re not just completing levels — you’re traveling the globe.
      </p>
    </div>
  </div>
</section>
