<div class="context-menu">
  <nav class="context-nav">
    <ul class="context-nav-list">
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#home">Home</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#about"
          >The Story Begins</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#gameplay">Gameplay</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#tools">Royal Tools</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#map">Journey Maps</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#play">Play Your Way</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#screenshots"
          >Screenshots</a
        >
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#reviews">Reviews</a>
      </li>
      <li class="context-list-item">
        <a class="context-list-link" href="./index.html#faq">FAQ</a>
      </li>
    </ul>
    <ul class="context-privacy-list">
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./privacy-policy.html"
          >Privacy Policy</a
        >
      </li>
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./terms-and-conditions.html"
          >Terms & Conditions</a
        >
      </li>
      <li class="context-privacy-item">
        <a class="context-privacy-link" href="./cookies-policy.html"
          >Cookies Policy</a
        >
      </li>
    </ul>
  </nav>
</div>
