<section class="section play-section" id="play">
  <div class="section-title-wrapper play-title-wrapper">
    <div class="container section-title-container">
      <picture>
        <source
          srcset="./img/about/left-line-desk.png"
          media="(min-width: 1440px)"
          width="155"
          height="18" />
        <source srcset="./img/about/left-line-mob.png" width="62" height="18" />
        <img
          class="title-line-img"
          src="./img/about/left-line-mob.png"
          alt="Line"
          width="62"
          height="18"
      /></picture>
      <h2 class="section-title play-title">
        PLAY YOUR WAY (RELAXED BUT COMPETITIVE)
      </h2>
      <picture>
        <source
          srcset="./img/about/right-line-desk.png"
          media="(min-width: 1440px)"
          width="155"
          height="18" />
        <source
          srcset="./img/about/right-line-mob.png"
          width="62"
          height="18" />
        <img
          class="title-line-img"
          src="./img/about/right-line-mob.png"
          alt="Line"
          width="62"
          height="18"
      /></picture>
    </div>
  </div>
  <div class="play-bg-wrapper">
    <div class="container play-container">
      <p class="section-subtitle play-subtitle">
        Perfect for chilling out, but you can still compete if that's your
        thing.
      </p>
      <ul class="play-list">
        <li class="play-list-item">
          <p class="play-item-text">Easy to start, relaxing to play</p>
        </li>
        <li class="play-list-item">
          <p class="play-item-text">No pressure gameplay for casual sessions</p>
        </li>
        <li class="play-list-item">
          <p class="play-item-text">
            Optional competitive elements for those who want more
          </p>
        </li>
      </ul>
      <p class="play-text">
        Compete on global leaderboards, challenge top players, and see how far
        your royal skills can take you.
      </p>
    </div>
  </div>
</section>
