<section class="section reviews-section" id="reviews">
  <div class="reviews-bg-wrapper">
    <div class="container reviews-container">
      <div class="section-title-wrapper reviews-title-wrapper">
        <span class="section-title-number">4</span>
        <h2 class="section-title reviews-title">Reviews</h2>
      </div>
      <ul class="reviews-list">
        <li class="reviews-list-item">
          <img
            class="reviews-img"
            src="./img/reviews/reviews-img1.png"
            alt="Avatar"
            width="76"
            height="107"
            loading="lazy"
          />
          <div class="reviews-item-text-wrapper">
            <h3 class="reviews-item-name">Marco</h3>
            <p class="reviews-item-text">
              “Didn’t expect it to be this hard. The hills are brutal, but fun.”
            </p>
          </div>
        </li>
        <li class="reviews-list-item">
          <img
            class="reviews-img"
            src="./img/reviews/reviews-img2.png"
            alt="Avatar"
            width="76"
            height="107"
            loading="lazy"
          />
          <div class="reviews-item-text-wrapper">
            <h3 class="reviews-item-name">Daniel</h3>
            <p class="reviews-item-text">
              “The mix of spy missions and off-road racing is weird… but it
              works so well.”
            </p>
          </div>
        </li>
        <li class="reviews-list-item">
          <img
            class="reviews-img"
            src="./img/reviews/reviews-img3.png"
            alt="Avatar"
            width="76"
            height="107"
            loading="lazy"
          />
          <div class="reviews-item-text-wrapper">
            <h3 class="reviews-item-name">Hana</h3>
            <p class="reviews-item-text">
              “Physics feel real enough that I got mad at myself for bad
              landings.”
            </p>
          </div>
        </li>
        <li class="reviews-list-item">
          <img
            class="reviews-img"
            src="./img/reviews/reviews-img4.png"
            alt="Avatar"
            width="76"
            height="107"
            loading="lazy"
          />
          <div class="reviews-item-text-wrapper">
            <h3 class="reviews-item-name">Elise</h3>
            <p class="reviews-item-text">
              “Great offline game for commutes. Short missions, no pressure.”
            </p>
          </div>
        </li>
        <li class="reviews-list-item">
          <img
            class="reviews-img"
            src="./img/reviews/reviews-img5.png"
            alt="Avatar"
            width="76"
            height="107"
            loading="lazy"
          />
          <div class="reviews-item-text-wrapper">
            <h3 class="reviews-item-name">Victor</h3>
            <p class="reviews-item-text">
              “Tracks feel like actual terrain, not flat mobile game roads.”
            </p>
          </div>
        </li>
        <li class="reviews-list-item">
          <img
            class="reviews-img"
            src="./img/reviews/reviews-img6.png"
            alt="Avatar"
            width="76"
            height="107"
            loading="lazy"
          />
          <div class="reviews-item-text-wrapper">
            <h3 class="reviews-item-name">Alina</h3>
            <p class="reviews-item-text">
              “I don’t usually like dirt bike games, but the chase scenes got
              me.”
            </p>
          </div>
        </li>
        <li class="reviews-list-item">
          <img
            class="reviews-img"
            src="./img/reviews/reviews-img7.png"
            alt="Avatar"
            width="76"
            height="107"
            loading="lazy"
          />
          <div class="reviews-item-text-wrapper">
            <h3 class="reviews-item-name">Jonas</h3>
            <p class="reviews-item-text">
              “Some missions are pure chaos. Took me 12 tries. Still loved it.”
            </p>
          </div>
        </li>
        <li class="reviews-list-item">
          <img
            class="reviews-img"
            src="./img/reviews/reviews-img8.png"
            alt="Avatar"
            width="76"
            height="107"
            loading="lazy"
          />
          <div class="reviews-item-text-wrapper">
            <h3 class="reviews-item-name">Lena</h3>
            <p class="reviews-item-text">
              “It’s fast, messy, and surprisingly strategic. I keep coming
              back.”
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
