<section class="section reviews-section" id="reviews">
  <div class="section-title-wrapper reviews-title-wrapper">
    <div class="container section-title-container">
      <picture>
        <source
          srcset="./img/about/left-line-desk.png"
          media="(min-width: 1440px)"
          width="155"
          height="18" />
        <source srcset="./img/about/left-line-mob.png" width="62" height="18" />
        <img
          class="title-line-img"
          src="./img/about/left-line-mob.png"
          alt="Line"
          width="62"
          height="18"
      /></picture>
      <h2 class="section-title play-title">Reviews</h2>
      <picture>
        <source
          srcset="./img/about/right-line-desk.png"
          media="(min-width: 1440px)"
          width="155"
          height="18" />
        <source
          srcset="./img/about/right-line-mob.png"
          width="62"
          height="18" />
        <img
          class="title-line-img"
          src="./img/about/right-line-mob.png"
          alt="Line"
          width="62"
          height="18"
      /></picture>
    </div>
  </div>
  <div class="reviews-bg-wrapper">
    <div class="container reviews-container">
      <div class="reviews-content-wrapper">
        <div class="reviews-top-wrapper">
          <div class="reviews-rating">
            <p class="reviews-rating-text">Rating highlight:</p>
            <img
              class="reviews-stars-img"
              src="./img/reviews/reviews-stars.png"
              alt="Stars"
              width="64"
              height="16"
            />
          </div>
          <p class="reviews-text">
            4.0 average rating<br />
            Based on 200+ player reviews
          </p>
          <ul class="reviews-list">
            <li class="reviews-list-item">
              <p class="reviews-item-text">
                “Relaxing, but still makes you think.”
              </p>
              <p class="reviews-item-name">— Daniel</p>
            </li>
            <li class="reviews-list-item">
              <p class="reviews-item-text">
                “The characters actually grow on you.”
              </p>
              <p class="reviews-item-name">— Emma</p>
            </li>
          </ul>
        </div>
        <img
          class="reviews-img"
          src="./img/reviews/reviews-img.png"
          alt="Screenshot of the game"
          width="275"
          height="356"
          loading="lazy"
        />
        <ul class="reviews-list reviews-bottom-list">
          <li class="reviews-list-item">
            <p class="reviews-item-text">
              “Feels like a proper adventure, not just another match-3.”
            </p>
            <p class="reviews-item-name">— Olivia</p>
          </li>
          <li class="reviews-list-item">
            <p class="reviews-item-text">
              “I love the journey maps and story cutscenes.”
            </p>
            <p class="reviews-item-name">— Sophia</p>
          </li>
          <li class="reviews-list-item">
            <p class="reviews-item-text">
              “The obstacles keep things interesting. Every level feels
              different.”
            </p>
            <p class="reviews-item-name">— Martin</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
