<section class="screenshots-section section" id="screenshots">
  <div class="section-title-wrapper benefits-title-wrapper">
    <div class="container section-title-container">
      <picture>
        <source
          srcset="./img/about/left-line-desk.png"
          media="(min-width: 1440px)"
          width="155"
          height="18" />
        <source srcset="./img/about/left-line-mob.png" width="62" height="18" />
        <img
          class="title-line-img"
          src="./img/about/left-line-mob.png"
          alt="Line"
          width="62"
          height="18"
      /></picture>
      <h2 class="section-title play-title">Screenshots</h2>
      <picture>
        <source
          srcset="./img/about/right-line-desk.png"
          media="(min-width: 1440px)"
          width="155"
          height="18" />
        <source
          srcset="./img/about/right-line-mob.png"
          width="62"
          height="18" />
        <img
          class="title-line-img"
          src="./img/about/right-line-mob.png"
          alt="Line"
          width="62"
          height="18"
      /></picture>
    </div>
  </div>
  <div class="screenshots-bg-wrapper">
    <div class="container screenshots-container">
      <div class="screenshots-swiper-container">
        <ul class="swiper-wrapper screenshots-swiper-wrapper">
          <li class="swiper-slide screenshots-slide">
            <img
              class="screenshots-img"
              src="./img/screenshots/screenshots-img1.png"
              alt="Screenshot of the game"
              width="323"
              height="574"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide screenshots-slide">
            <img
              class="screenshots-img"
              src="./img/screenshots/screenshots-img2.png"
              alt="Screenshot of the game"
              width="323"
              height="574"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide screenshots-slide">
            <img
              class="screenshots-img"
              src="./img/screenshots/screenshots-img3.png"
              alt="Screenshot of the game"
              width="323"
              height="574"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide screenshots-slide">
            <img
              class="screenshots-img"
              src="./img/screenshots/screenshots-img4.png"
              alt="Screenshot of the game"
              width="323"
              height="574"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide screenshots-slide">
            <img
              class="screenshots-img"
              src="./img/screenshots/screenshots-img5.png"
              alt="Screenshot of the game"
              width="323"
              height="574"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
      <div class="dots">
        <div class="screenshots-dot active"></div>
        <div class="screenshots-dot"></div>
        <div class="screenshots-dot"></div>
        <div class="screenshots-dot"></div>
        <div class="screenshots-dot"></div>
      </div>
      <div class="controls screenshots-controls">
        <button
          class="arrow-btn"
          id="screenshotsLeftArrow"
          aria-label="Previous slide"
        >
          <svg class="arrow-icon" width="80" height="80">
            <use href="./img/sprite.svg#icon-arrow-left"></use>
          </svg>
        </button>

        <button
          class="arrow-btn"
          id="screenshotsRightArrow"
          aria-label="Next slide"
        >
          <svg class="arrow-icon" width="80" height="80">
            <use href="./img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
